/*Este css es solo para practicar un poco*/
.ejemplos svg{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(255, 159, 148);
    background-color: rgb(160, 160, 160);
}
.ejemplos{
    text-align: center;
    background-color: rgb(210, 163, 255);
    border-radius: 20%;
}
.ejemplos h2{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    background-color: rgb(134, 98, 168);
    border-radius: 40%;
    width:fit-content;
    margin: auto;
    border-top: 5px solid rgb(210, 163, 255);
    border-bottom: 20px solid rgb(134, 98, 168);
}
.ejercicios h2{
    background-color: chocolate;
    width: fit-content;
    margin: auto;

}

.ejercicios{
    margin-top: 10px;
    background-color: rgb(110, 80, 137);
}
.ejercicios svg{
    background-color: rgb(192, 192, 192);
    width: fit-content;
    margin-left: 300px;

    
}